<template>
    <div class="card bg-light">
        <div class="card-header text-white bg-dark">
            Profile
        </div>
        <div class="card-body">
            <form role="form">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" placeholder="first name" class="form-control" value.bind="contact.firstName">
                </div>

                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" placeholder="last name" class="form-control" value.bind="contact.lastName">
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="text" placeholder="email" class="form-control" value.bind="contact.email">
                </div>

                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="text" placeholder="phone number" class="form-control" value.bind="contact.phoneNumber">
                </div>
            </form>
            <div>
                <button class="btn btn-primary float-right" click.delegate="save()" disabled.bind="!canSave">Save</button>
            </div>
        </div>
    </div>
</template>