@using Aurelia.Skeleton.NetCore.Razor.Models

<template>
    @*<require from="aurelia-dynamic-html/aurelia-dynamic-html"></require>*@

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header text-white bg-dark">
                    Settings
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="SettingsType">Settings Type</label>
                            @Html.DropDownList(
                                "SettingsType",
                                Html.GetEnumSelectList<SettingsType>(),
                                new Dictionary<string, object>
                                {
                                    { "class", "form-control" },
                                    { "value.bind", "settingsType" }
                                })
                        </div>
                        <div class="form-group">
                            <button type="button" click.delegate="getSettingsUI()" class="btn btn-primary">Get Settings</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header text-white bg-dark">
                    Dynamic HTML
                </div>
                <div class="card-body">
                    <dynamic-html html.bind="dynamicHtml" context.bind="dynamicModel" compiled.delegate="handleCompiled($event)"></dynamic-html>
                </div>
            </div>
        </div>
    </div>
</template>