body {
    padding-top: 70px;
}

section {
    margin: 0 20px;
}

a:focus {
    outline: none;
}

.navbar-nav li.loader {
    margin: 12px 24px 0 6px;
}

.no-selection {
    margin: 20px;
}

/*.contact-list {
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
}

li.list-group-item {
    list-style: none;
}

    li.list-group-item > a {
        text-decoration: none;
    }

    li.list-group-item.active > a {
        color: white;
    }*/

/*li.list-group-item.active {
    background-color: #f8f9fa !important;
}*/