<template>
    <h1>${heading}</h1>

    <form submit.trigger="addItem()">
        <div class="form-group">
            <input type="text" class="form-control" value.bind="todoDescription" />
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>

    <ul>
        <li repeat.for="item of items">
            <input type="checkbox" checked.bind="item.done" />
            <span css="text-decoration: ${item.done ? 'line-through' : 'none'}">${item.description}</span>
            <button type="button" class="btn btn-danger" click.trigger="removeItem(item)">Remove</button>
        </li>
    </ul>
</template>