<template>
    <require from='/aurelia-app/nav-bar'></require>
    <require from="humane-js/themes/libnotify.css"></require>

    <nav-bar router.bind="router"></nav-bar>

    <div class="container body-content">
        <div class="page-host">
            <router-view></router-view>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Some Copyright Here</p>
        </footer>
    </div>

</template>