<div id="settings-content">
    <div class="form-group">
        <label for="DefaultTimeZoneId">Default Time Zone ID</label>
        <input type="number" id="DefaultTimeZoneId" name="DefaultTimeZoneId" class="form-control" value.bind="defaultTimeZoneId" />
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="AllowUsersToSetTimeZone" name="AllowUsersToSetTimeZone" checked.bind="allowUsersToSetTimeZone" /> Allow Users To Set Time Zone
        </label>
    </div>
</div>